:root {
  --font-size-body: 16px;
  --font-size-section: 32px;
  --font-size-title: 38px;
  --font-size-hero: 64px;
  --font-size-footer: 14px;

  --font-weight-title: 500;
  --font-weight-bold: 800;

  --color-accent: #096a61;
  --color-text: #22252a;
  --color-background: #fafafa;
  --color-background-hover: #ede8e7;
  --color-border: #b5abaa;

  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
