:root {
  --font-size-body: 16px;
  --font-size-section: 32px;
  --font-size-title: 38px;
  --font-size-h1: 64px;
  --font-size-footer: 14px;

  --font-weight-body: 400;
  --font-weight-title: 500;
  --font-weight-bold: 800;

  --color-accent: #096a61;
  --color-text: #22252a;
  --color-background: #fafafa;
}
