.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.navLink {
  padding: 6px;
  margin: 0 2px;
}

.navLink_active {
  padding: 6px;
  margin: 0 2px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--color-background);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-background);
}

.icon_active {
  width: 24px;
  height: 24px;
  fill: var(--color-accent);
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 30px;
  }

  .navLink {
    padding: 8px;
  }

  .navLink_active {
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  .icon_active {
    width: 32px;
    height: 32px;
  }
}
