.container {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 1440px;
  background-color: var(--color-background);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 65px;
}

.imgBox {
  align-self: center;
  display: grid;
  grid-template-columns: 163px 163px;
  grid-template-rows: 191px 152px;
  row-gap: 32px;
  column-gap: 9px;
}

.img1 {
  width: 335px;
  height: 191px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.img2 {
  width: 163px;
  height: 152px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.img3 {
  width: 163px;
  height: 152px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.title {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-accent);
}

.subTitle {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-footer);
  text-transform: lowercase;
  color: var(--color-text);
}

.text {
  margin-bottom: 24px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

.price {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 25px 100px 40px 100px;
  }

  .wrapper {
    gap: 40px;
  }

  .imgBox {
    grid-template-columns: 280px 280px;
    grid-template-rows: 324px 260px;
    row-gap: 24px;
    column-gap: 8px;
  }

  .img1 {
    width: 568px;
    height: 324px;
  }

  .img2 {
    width: 280px;
    height: 260px;
  }

  .img3 {
    width: 280px;
    height: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    flex-direction: row;
    gap: 60px;
  }
}
