.container {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 1440px;
  background-color: var(--color-background);
}

.title {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-accent);
}

.subTitle {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-footer);
  text-transform: lowercase;
  color: var(--color-text);
}

.text {
  margin-bottom: 24px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

.price {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-text);
}
