.section {
  margin: 0 auto;
  padding: 65px 20px 65px 20px;
  max-width: 1440px;
}

.titleBox {
  margin-bottom: 42px;
}

.title {
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  color: var(--color-accent);
}

.link {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-body);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-text);
  transition: color var(--transition-main);
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

.linkIcon {
  width: 5px;
  height: 14px;
  fill: var(--color-text);
  transition: fill var(--transition-main);
}

.link:hover .linkIcon,
.link:focus .linkIcon {
  fill: var(--color-accent);
}

.linkBoxBottom {
  padding-top: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .linkBoxTop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 65px 100px 65px 100px;
  }

  .titleBox {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linkBoxBottom {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 80px 200px 80px 200px;
  }

  .titleBox {
    margin-bottom: 82px;
  }
}
