.lable {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  font-family: var(--font-tenor-regular);
}

.textField {
  padding: 5px;
  width: 100%;
  font-family: var(--font-nunito-regular);
  background-color: var(--color-background);
  border: none;
  border-bottom: 1px solid var(--color-accent);
  outline: none;
}

.textareaField {
  padding: 5px;
  width: 100%;
  font-family: var(--font-nunito-regular);
  background-color: var(--color-background-hover);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  resize: none;
}

.error {
  margin-bottom: 10px;
  color: var(--color-error);
  font-size: var(--font-size-footer);
  font-family: var(--font-nunito-regular);
}

.title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  font-family: var(--font-tenor-regular);
}

.box {
  margin-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.categoryLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-footer);
  font-family: var(--font-nunito-regular);
}

.optionBox {
  margin-bottom: 15px;

  width: 100%;

  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.btnAdd {
  padding: 5px 15px;
  font-size: var(--font-size-body);
  color: var(--color-background);
  border-radius: 6px;
  background-color: var(--color-accent);
  cursor: pointer;
}

.btnAdd:hover,
.btnAdd:focus {
  background-color: var(--color-text);
}

.select {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-footer);

  color: var(--color-background);
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: #2a2c36;
  cursor: pointer;
  opacity: 0.5;
}

.wrapper {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.thumb {
  width: 210px;
  height: 196px;
}

.img {
  width: 210px;
  height: 196px;
  object-fit: cover;
}

.wideThumb {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 335px;
  height: 191px;
}

.wideImg {
  width: 335px;
  height: 191px;
  object-fit: cover;
}

.inputNumber {
  padding: 5px;
  max-width: 100px;

  font-size: var(--font-size-body);
  background-color: var(--color-background);
  border: none;
  border-bottom: 2px solid var(--color-accent);
  outline: none;
}

.button {
  margin-top: 30px;
  padding: 15px 40px;

  font-size: var(--font-size-body);
  color: var(--color-background);

  cursor: pointer;
  background-color: var(--color-accent);

  border: none;
  border-radius: 14px;
}

.button:hover,
.button:focus {
  background-color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .textfield {
    width: 660px;
  }

  .textareaField {
    width: 450px;
  }

  .optionBox {
    width: 360px;
  }

  .thumb {
    width: 250px;
    height: 232px;
  }
  .img {
    width: 250px;
    height: 232px;
  }

  .wideThumb {
    width: 568px;
    height: 324px;
  }

  .wideImg {
    width: 568px;
    height: 324px;
  }
}

@media screen and (min-width: 1440px) {
  .textareaField {
    width: 650px;
  }

  .error {
    font-size: var(--font-size-body);
  }
}
