.text {
  margin-bottom: 20px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .text {
    width: 450px;
  }
}
