.header {
  margin: 0 auto;
  padding: 8px 20px 40px 20px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 64px;
  height: 64px;
  justify-self: center;
}

.main {
  padding: 65px 20px 65px 20px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 18px 32px;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  line-height: normal;
  border-radius: 16px;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  transition: color var(--transition-main), border-color var(--transition-main);
}

.button:hover,
.button:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.footer {
  margin: 0 auto;
  padding: 20px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid var(--color-accent);
  background-color: var(--color-background);
}

.copy {
  font-family: var(--font-poppins-regular);
  font-weight: 600;
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

.dev {
  font-family: var(--font-poppins-regular);
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 8px 100px 40px 100px;
  }

  .image {
    width: 87px;
    height: 87px;
  }

  .main {
    padding: 65px 100px 65px 100px;
  }

  .footer {
    padding: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 8px 200px 40px 200px;
  }

  .main {
    padding: 80px 200px 80px 200px;
  }

  .footer {
    padding: 40px;
  }
}
