.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link {
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  line-height: normal;
  color: var(--color-text);
  transition: color var(--transition-main);
}

.link:hover {
  color: var(--color-accent);
}
