.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link {
  padding: 18px 32px;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  line-height: normal;
  border-radius: 16px;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  transition: color var(--transition-main), border-color var(--transition-main);
}

.link:hover,
.link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
