.container {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 1440px;
  background-color: var(--color-background);
}

.article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.title {
  margin-bottom: 32px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-accent);
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.thumbFirst {
  flex-shrink: 0;
  width: 335px;
  height: 380px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.thumbSecond {
  flex-shrink: 0;
  align-self: flex-end;
  width: 335px;
  height: 380px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  overflow: hidden;
}

.thumbThird {
  flex-shrink: 0;
  width: 335px;
  height: 380px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.img {
  width: 335px;
  height: 380px;
  object-fit: cover;
}

.textRight {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.05;
  color: var(--color-text);
}

.textLeft {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.05;
  color: var(--color-text);
}

.date {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 25px 100px 40px 100px;
  }

  .box {
    margin-bottom: 32px;
    flex-direction: row;
    gap: 0px;
  }

  .thumbFirst {
    width: 278px;
    height: 316px;
  }

  .thumbSecond {
    align-self: center;
    width: 278px;
    height: 316px;
  }

  .thumbThird {
    align-self: end;
    width: 278px;
    height: 316px;
  }

  .img {
    width: 278px;
    height: 316px;
  }

  .textRight {
    padding-left: 12px;
  }

  .textLeft {
    padding-right: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 25px 200px 40px 200px;
  }

  .article {
    margin-top: 80px;
  }

  .title {
    margin-bottom: 80px;
  }

  .box {
    margin-bottom: 80px;
  }

  .thumbFirst {
    width: 510px;
    height: 580px;
  }

  .thumbSecond {
    width: 510px;
    height: 580px;
  }

  .thumbThird {
    width: 510px;
    height: 580px;
  }

  .img {
    width: 510px;
    height: 580px;
  }

  .textRight {
    padding-left: 108px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  .textLeft {
    padding-right: 108px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
