.container {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 1440px;
  background-color: var(--color-background);
}

.wrapper {
  display: grid;
  grid-template-columns: 335px;
  justify-content: center;
  row-gap: 40px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.img {
  width: 335px;
  height: 380px;
  object-fit: cover;
}

.link {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-accent);
}

.linkText {
  padding-top: 8px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-footer);
  letter-spacing: 0.08em;
  color: var(--color-text);
  transition: color var(--transition-main);
}

.linkIcon {
  width: 5px;
  height: 14px;
  fill: var(--color-text);
  transition: fill var(--transition-main), transform 200ms;
}

.link:hover .linkIcon,
.link:focus .linkIcon {
  transform: translateX(8px);
  fill: var(--color-accent);
}

.link:hover .linkText,
.link:focus .linkText {
  color: var(--color-accent);
}

.text {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--color-text);
}

.date {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
  opacity: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 65px 100px;
  }

  .wrapper {
    grid-template-columns: 511px;
    row-gap: 40px;
  }

  .box {
    flex-wrap: nowrap;
  }

  .img {
    width: 165px;
    height: 187px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 80px 200px;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }
}
