.container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: [one] 158px [two] 158px [three];
  grid-template-rows: [row-one] 145px [row-two] 145px [row-three] 145px [row-four];
  row-gap: 32px;
  column-gap: 20px;
}

.chapletLink {
  grid-column-start: 1;
  grid-column-end: two;
  grid-row-start: row-three;
  grid-row-end: row-four;
}

.necklaceLink {
  grid-column-start: 2;
  grid-column-end: three;
  grid-row-start: row-three;
  grid-row-end: row-four;
}

.chockerLink {
  grid-column-start: 1;
  grid-column-end: two;
  grid-row-start: row-one;
  grid-row-end: row-two;
}

.braceletLink {
  grid-column-start: 2;
  grid-column-end: three;
  grid-row-start: row-one;
  grid-row-end: row-two;
}

.earringsLink {
  grid-column-start: one;
  grid-column-end: three;
  grid-row-start: row-two;
  grid-row-end: row-three;
}

.thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: [one] 176px [two] 126px [three] 30px [four] 176px [five];
    grid-template-rows: [row-one] 161px [row-two] 161px [row-three];
    row-gap: 24px;
  }

  .chapletLink {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: row-two;
    grid-row-end: row-three;
  }

  .necklaceLink {
    grid-column-start: three;
    grid-column-end: five;
    grid-row-start: row-one;
    grid-row-end: row-two;
  }

  .chockerLink {
    grid-column-start: 1;
    grid-column-end: two;
    grid-row-start: row-two;
    grid-row-end: row-three;
  }

  .braceletLink {
    grid-column-start: two;
    grid-column-end: four;
    grid-row-start: row-two;
    grid-row-end: row-three;
  }

  .earringsLink {
    grid-column-start: 1;
    grid-column-end: three;
    grid-row-start: row-one;
    grid-row-end: row-two;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: [one] 333px [two] 245px [three] 68px [four] 333px [five];
    grid-template-rows: [row-one] 305px [row-two] 305px [row-three];
    row-gap: 40px;
  }
}
