.container {
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.title {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-accent);
}

.img {
  width: 100px;
  height: 93px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  /* .img {
    width: 250px;
    height: 232px;
  } */
}
