.container {
  padding: 4px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  margin-bottom: 20px;
}

.wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
  border-bottom: 1px solid var(--color-border);
}

.imgBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topic {
  margin-bottom: 20px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-section);
  color: var(--color-accent);
  line-height: 1.5;
}

.title {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-accent);
}

.text {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--color-text);
}

.img {
  width: 100px;
  height: 93px;
  object-fit: cover;
}

.btnRem {
  background-color: transparent;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-error);
}

.btnAcc {
  margin-top: 20px;
  padding: 10px 24px;
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-body);
  text-transform: uppercase;
  color: var(--color-background);
  background-color: var(--color-accent);
  border-radius: 16px;
  transition: background-color var(--transition-main);
}

.btnAcc:hover,
.btnAcc:focus {
  background-color: var(--color-text);
}

.label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.05;
  color: var(--color-text);
}

.totalPrice {
  margin-bottom: 10px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  color: var(--color-text);
  text-align: right;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 8px;
  }

  .img {
    width: 163px;
    height: 152px;
  }
}
