.container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.thumb {
  width: 210px;
}

.img {
  width: 210px;
  height: 190px;
}

.textBox {
  padding: 8px;
}

.linkTitle {
  margin-bottom: 8px;
  width: 50%;
  height: 18px;
  border-radius: 5px;
}

.linkText {
  width: 80%;
  height: 30px;
  border-radius: 5px;
}

@keyframes skeleton {
  to {
    background-position: left;
  }
}

.skeleton {
  cursor: progress;

  background: linear-gradient(90deg, #ddda 40%, #efefefaa, #ddda 60%) right /
    300% 100%;
  animation: skeleton 1.5s linear infinite;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 32px;
  }

  .thumb {
    width: 230px;
  }

  .img {
    width: 230px;
    height: 210px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 14px;
  }

  .thumb {
    width: 250px;
  }

  .img {
    width: 250px;
    height: 230px;
  }

  .textBox {
    padding: 12px;
  }

  .linkTitle {
    margin-bottom: 12px;
  }

  .linkText {
    height: 36px;
  }
}
