.nav {
  display: flex;
  gap: 40px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navLink {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

.navLink_active {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}
