.form {
  padding-top: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.error {
  margin-bottom: 10px;
  color: var(--color-error);
  font-size: var(--font-size-footer);
  font-family: var(--font-nunito-regular);
}

.label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  font-family: var(--font-tenor-regular);
}

.title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  font-family: var(--font-tenor-regular);
}

.box {
  margin-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.categoryLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-footer);
  font-family: var(--font-nunito-regular);
}

.textField {
  padding: 5px;
  width: 100%;
  font-family: var(--font-nunito-regular);
  background-color: var(--color-background);
  border: none;
  border-bottom: 1px solid var(--color-accent);
  outline: none;
}

.inputField {
  padding: 5px;
  width: 100%;
  font-family: var(--font-nunito-regular);
  background-color: var(--color-background);
  border: none;
  border-bottom: 1px solid var(--color-accent);
  outline: none;
}

.inputField:invalid {
  border-bottom: 1px solid var(--color-error);
}

.inputNumber {
  padding: 5px;
  max-width: 100px;

  font-size: var(--font-size-body);
  background-color: var(--color-background);
  border: none;
  border-bottom: 2px solid var(--color-accent);
  outline: none;
}

.button {
  margin-top: 30px;
  padding: 15px 40px;

  font-size: var(--font-size-body);
  color: var(--color-background);

  cursor: pointer;
  background-color: var(--color-accent);

  border: none;
  border-radius: 14px;
}

.button:hover,
.button:focus {
  background-color: var(--color-text);
}

.searchBtn {
  padding: 10px;

  font-size: var(--font-size-body);
  color: var(--color-background);

  cursor: pointer;
  background-color: var(--color-accent);

  border: none;
  border-radius: 6px;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .form {
    padding-top: 20px;
  }

  .container {
    max-width: 270px;
  }

  .textfield {
    width: 660px;
  }
}

@media screen and (min-width: 1440px) {
  .error {
    font-size: var(--font-size-body);
  }
}
