.sidebar {
  max-width: 110px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-gutter: stable;
}

.legend {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-footer);
}

.listItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-footer);
  text-transform: capitalize;
}

.listItem:not(:last-child) {
  margin-bottom: 16px;
}

.listItem > label {
  cursor: pointer;
  accent-color: var(--color-accent);
}

.listItem > label:hover,
.listItem > label:focus {
  color: var(--color-accent);
}

.listItem > input:checked,
.listItem > input:checked {
  accent-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .sidebar {
    max-width: 160px;
    max-height: 550px;
    gap: 32px;
  }

  .legend {
    font-size: var(--font-size-body);
  }

  .listItem {
    gap: 8px;
    font-size: var(--font-size-body);
  }

  .listItem:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    max-width: 250px;
    max-height: 1200px;
  }
}
