@import url('./styles/normalize.css');
@import url('./styles/variables.css');

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-tenor-regular);
  background-color: var(--color-background, white);
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
