.section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 20px 65px 20px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  background-color: var(--color-background-hover);
}

.box {
  text-align: center;
}

.text {
  margin-top: 24px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .section {
    gap: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .box {
    width: 176px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 80px;
  }

  .box {
    width: 334px;
  }

  .text {
    margin-top: 40px;
  }
}
