.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
}

.input {
  width: 95px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  background-color: transparent;
  border: none;
  outline: none;
}

.button {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
}

.svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 16px;
  }

  .input {
    width: 210px;
  }

  .svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    width: 245px;
  }
}
