.container {
  padding: 25px 20px;
  max-width: 1440px;
  background-color: var(--color-background);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap:20px; */
}

.box {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.link {
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-accent);
}

.text {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

.span {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
  opacity: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 65px 100px;
  }

  .wrapper {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 80px 200px;
  }

  .wrapper {
    column-gap: 20px;
    row-gap: 40px;
  }
}
