.container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

a:hover .thumb,
a:focus .thumb {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.thumb {
  width: 210px;
  height: 100%;
  transition: box-shadow var(--transition-main);
}

.img {
  width: 210px;
  height: 196px;
  object-fit: cover;
}

.textBox {
  padding: 8px;
}

.linkTitle {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-accent);
}

.linkText {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-footer);
  text-transform: lowercase;
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .container {
    gap: 32px;
  }

  /* .thumb {
    width: 230px;
  }

  .img {
    width: 230px;
    height: 210px;
  } */

  .thumb {
    width: 250px;
  }
  .img {
    width: 250px;
    height: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 14px;
  }

  /* .thumb {
    width: 250px;
  }
  .img {
    width: 250px;
    height: 232px;
  } */

  .textBox {
    padding: 12px;
  }

  .linkTitle {
    margin-bottom: 12px;
  }

  .linkText {
    font-size: var(--font-size-body);
  }
}
