.container {
  display: flex;
  align-content: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.thumb {
  width: 230px;
  height: 210px;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    200deg,
    rgba(35, 38, 42, 0) 31.21%,
    rgba(35, 38, 42, 0.71) 56.25%,
    #23262a 100%
  );
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textBox {
  position: absolute;
  z-index: 10;
  bottom: 8px;
  left: 8px;
}

.linkTitle {
  margin-bottom: 8px;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-background);
}

.linkText {
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-footer);
  text-transform: lowercase;
  color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .container {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 14px;
  }

  .overlay::after {
    background-image: linear-gradient(
      229deg,
      rgba(35, 38, 42, 0) 49.49%,
      rgba(35, 38, 42, 0.71) 67.56%,
      #23262a 109.66%
    );
  }

  .thumb {
    width: 245px;
    height: 225px;
  }

  .textBox {
    bottom: 24px;
    left: 24px;
  }

  .linkTitle {
    margin-bottom: 16px;
  }
}
