.container {
  margin: 0 auto;
  padding: 25px 20px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 65px 100px;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 80px 200px;
    gap: 20px;
  }
}
