.section {
  padding: 65px 20px 28px 20px;
  max-width: 1440px;
  margin: 0 auto;
  border-top: 1px solid var(--color-accent);
  background-color: var(--color-background);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.image {
  width: 124px;
  height: 124px;
}

.box {
  display: flex;
  gap: 32px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: border-color var(--transition-main),
    background-color var(--transition-main);
}

.link:hover,
.link:focus {
  border-color: var(--color-accent);
  background-color: var(--color-background-hover);
}

.list {
  text-align: center;
}

.list > li:not(:last-child) {
  margin-bottom: 24px;
}

.button {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
  background-color: var(--color-background);
  transition: color var(--transition-main),
    background-color var(--transition-main);
}

.button:hover,
.button:focus {
  color: var(--color-accent);
  background-color: var(--color-background-hover);
}

.copyBox {
  padding-top: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.copy {
  font-family: var(--font-poppins-regular);
  font-weight: 600;
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

.dev {
  font-family: var(--font-poppins-regular);
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 65px 100px 30px 100px;
  }

  .container {
    justify-content: center;
    flex-direction: row;
    gap: 134px;
  }

  .wrapper {
    gap: 32px;
  }

  .list {
    align-self: start;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 80px 200px 40px 200px;
  }

  .wrapper {
    gap: 34px;
  }

  .image {
    width: 87px;
    height: 87px;
  }

  .list > li:not(:last-child) {
    margin-bottom: 32px;
  }

  .copyBox {
    padding-top: 80px;
  }
}
