.wrapper {
  display: flex;
  border-bottom: 1px solid var(--color-border);
}

.button {
  padding: 12px 16px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
  background-color: transparent;
  text-transform: uppercase;
}
