.accordion {
  padding: 20px 24px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-nunito-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  color: var(--color-text);
  cursor: pointer;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-background);
}

.btnIcon {
  width: 5px;
  height: 14px;
  fill: var(--color-text);
  transform: rotate(90deg);
}

.panel {
  padding: 20px 24px;
  background-color: var(--color-background);
  display: none;
  overflow: hidden;
}

.text {
  margin-bottom: 20px;
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  color: var(--color-text);
}

.list {
  font-family: var(--font-nunito-regular);
  font-size: var(--font-size-body);
  list-style-type: disc;
  list-style-position: inside;
}

.list li {
  margin-bottom: 20px;
}

.list ol {
  list-style-type: lower-alpha;
  list-style-position: inside;
  margin-left: 15px;
}
