.header {
  margin: 0 auto;
  padding: 8px;
  max-width: 1440px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.image {
  width: 32px;
  height: 32px;
  justify-self: center;
}

.title {
  font-family: var(--font-tenor-regular);
  font-size: var(--font-size-footer);
  text-transform: uppercase;
  color: var(--color-accent);
}

.main {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
}

.sidebar {
  padding-top: 10px;
  border-top-right-radius: 6px;
  background-color: var(--color-accent);
}

.footer {
  margin: 0 auto;
  padding: 20px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-top: 2px solid var(--color-accent);
  background-color: var(--color-background);
}

.copy {
  font-family: var(--font-poppins-regular);
  font-weight: 600;
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

.dev {
  font-family: var(--font-poppins-regular);
  font-size: var(--font-size-footer);
  color: var(--color-text);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 10px;
  }

  .image {
    width: 64px;
    height: 64px;
  }

  .footer {
    padding: 65px 100px 30px 100px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 16px;
  }

  .image {
    width: 87px;
    height: 87px;
  }

  .title {
    font-size: var(--font-size-section);
  }

  .sidebar {
    padding-top: 20px;
    border-top-right-radius: 8px;
  }

  .footer {
    padding: 40px;
  }
}
